{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<div class="example-wrapper container">
    <h1>Hello {{ controller_name }}! ✅</h1>

    

        {# Liste des agents #}
        <div>
            <h3>Liste des agents</h3>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Identité</th>
                    <th scope="col">Code Authentification</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for agent in agents %}
                    <tr>
                    <th scope="row">{{agent.getId}}</th>
                    <td>{{agent.getLastName}} {{agent.getFirstName}}</td>
                    <td>{{agent.getAuthentificationCode}}</td>
                    <td> 
                    <a class="btn btn-warning" href="#" role="button">Editer</a> 
                    <a class="btn btn-danger" href="#" role="button">Supprimer</a>
                    </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>

        {# Liste des missions #}
        <div>
            <h3>Liste des missions</h3>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titre/Nom de code</th>
                    <th scope="col">status</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for mission in missions %}
                    <tr>
                    <th scope="row">{{mission.getId}}</th>
                    <td>{{mission.getTitle}} : {{ mission.getCodeName}}</td>
                    <td>{# {{mission.getStatus}} #}</td>
                    <td> 
                    <a class="btn btn-warning" href="#" role="button">Editer</a> 
                    <a class="btn btn-danger" href="#" role="button">Supprimer</a>
                    </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>

        {# Liste des contacts #}
        <div>
            <h3>Liste des contacts</h3>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Identité</th>
                    <th scope="col">Nom de code</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contact in contacts %}
                    <tr>
                    <th scope="row">{{contact.getId}}</th>
                    <td>{{contact.getLastName}} {{ contact.getFirstName}}</td>
                    <td>{{contact.getCodeName}}</td>
                    <td> 
                    <a class="btn btn-warning" href="#" role="button">Editer</a> 
                    <a class="btn btn-danger" href="#" role="button">Supprimer</a>
                    </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>


        {# Liste des cibles #}
        <div>
            <h3>Liste des cibles</h3>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Identité</th>
                    <th scope="col">Nom de code</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for target in targets %}
                    <tr>
                    <th scope="row">{{target.getId}}</th>
                    <td>{{target.getLastName}} {{ target.getFirstName}}</td>
                    <td>{{target.getCodeName}}</td>
                    <td> 
                    <a class="btn btn-warning" href="#" role="button">Editer</a> 
                    <a class="btn btn-danger" href="#" role="button">Supprimer</a>
                    </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    
</div>
{% endblock %}
